/* from https://bootsnipp.com/snippets/featured/fancy-bootstrap-checkboxes */
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > input[type="text"] {
    border: 1px solid #adadad;
    background-color: #f6f6f6;
    /* border-radius: 0.25rem; */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
    height: 38px;
    text-align: center;
}

.serverConfigRow button.btn {
    height: 38px;
}
