body {
    padding-top: 80px;
    background-color: #EEE !important;
}

.container {
}

.view {
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid #BBB;
}

.viewTitle {
    margin-top: 0;
    margin-bottom: 20px;
}

div#loginMessage {
    border-radius: 5px;
    padding: 10px;
    margin: 0 15px;
}

div#loginLoadingAnimation {
    margin-bottom: 20px;
    margin-top: 5px;
}

.currencyCell {
    text-align: right;
}

.currencyCell:after {
    content: '€';
}

.linklike {
    text-decoration: underline;
    cursor: pointer;
}

.padded {
    padding-bottom: 12px;
}

input.form-control.form-control::placeholder {
    color: #CCC;
}
textarea.form-control::placeholder {
    color: lightgray;
}

.server-status-indicator {
    background-size: 38px 38px;
    padding: 10px 19px;
    background-repeat: no-repeat;
}

.server-status-indicator.status-blu {
    background-image: url('../../assets/img/status-blu.png');
}

.server-status-indicator.status-error {
    background-image: url('../../assets/img/status-error.png');
}

.server-status-indicator.status-nc {
    background-image: url('../../assets/img/status-nc.png');
}

.server-status-indicator.status-ok {
    background-image: url('../../assets/img/status-ok.png');
}

.server-status-indicator.status-waiting {
    background-image: url('../../assets/img/status-waiting.png');
}

.server-status-indicator.status-warning {
    background-image: url('../../assets/img/status-warning.png');
}
